<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  </head>

  <body>
    <header class="navbar navbar-expand-lg justify-content-between navbar-light bg-light border-bottom">
      <h1>Restaurants</h1>
      <p><%= link_to 'Create a new restaurant', new_restaurant_path %></p>
    </header>
    <div class='p-5'>
      <%= yield %>
    </div>
  </body>
</html>
